<!-- 引入 KaTeX 0.16.11 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-O1c9DTvUPoEwOjLoOpHXxNF3K5ghPV05gtEkOPhNdqhMMNmLweQNHSk6v7KtR1Up" crossorigin="anonymous">

<!-- 引入 KaTeX 0.16.11 JS -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-mpDU6JcZmWRfi8EsN2Pm6mpnuZrfXpJl5V4Aq2OhRuI/fN06h/ld6JkUbM08km5S" crossorigin="anonymous"></script>

<!-- 引入 KaTeX 0.16.11 的自動渲染功能 -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-oSkfKqPx4IjVk4SkI/mgdybbRIqLP0lHTxg/+5O+bWyyj6yOMgO64sgJ9Wcxz8wD" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '\\[', right: '\\]', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false}
        ]
    });"></script>
