<!-- layouts/partials/math.html -->
<!-- 引入 KaTeX 核心 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">

<!-- 加載 KaTeX 核心 JavaScript -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>

<!-- 自動渲染數學公式的擴展 -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},  // 支持塊級數學公式
            {left: '\\[', right: '\\]', display: true}, // 支持 \\[ \\] 形式的塊級數學公式
            {left: '$', right: '$', display: false},   // 支持行內數學公式
            {left: '\\(', right: '\\)', display: false} // 支持 \\( \\) 形式的行內數學公式
        ]
    });"></script>
